*
  box-sizing border-box

:root
  --serif-fonts Georgia, serif
  --sans-serif-fonts "Open Sans", Helvetica, Arial, sans-serif
  --monospace-fonts Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace

body
  font-family var(--sans-serif-fonts)
