@import "mixins/media-query-variables"

:root
  --serif-fonts Georgia, serif
  --hero-fonts "Helvetica Neue", "Helvetica", sans-serif
  // --sans-serif-fonts "Avenir", "Open Sans", Helvetica, Arial, sans-serif
  --sans-serif-fonts "Open Sans", Helvetica, Arial, sans-serif
  --monospace-fonts Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace
  --accent-fonts "Roboto Slab", sans-serif
  --text-color #000000
  --accent-color #348af0
  --accent-text-color #0069e4
  --section-vertical-padding 3em
  --border-radius .1875em

  --brand-accent-red #f16975
  --brand-accent-orange #f69259
  --brand-accent-yellow #ffdb6f
  --brand-accent-green #65cc9a
  --brand-accent-light-blue #76c4e2
  --brand-accent-purple1 #8176b5
  --brand-accent-purple2 #ba77b1
  --brand-accent-blue #408bc9

*
  box-sizing inherit

html
  text-rendering optimizeLegibility
  font-family var(--sans-serif-fonts)
  font-size 10px
  line-height 1.5
  word-wrap break-word
  box-sizing border-box
  color var(--text-color)

body
  font-size 2em
  margin 0

strong
  &.subtle
    font-weight 600

.desktop-only
  @media mobileMaxWidthQuery
    display none !important

.mobile-only
  @media desktopMinWidthQuery
    display none !important

.cf-dash-desktop-only
  @media cfDashDesktopMaxWidthQuery
    display none !important

@media (max-width 56em)
  :root
    --section-vertical-padding 3em

  body
    font-size 1.7em

@media (max-width 48em)
  body
    font-size 1.5em

@media (max-width 36em)
  :root
    --section-vertical-padding 2em

@media (min-height 48em) and (min-width 42em)
  :root
    --section-vertical-padding 5em

code
  font-family var(--monospace-fonts)

  &.inline
    background rgba(0, 0 , 0, .05)
    display inline-block
    padding 0 .25em

h1
  font-weight 500

h2, h3, h4, h5, h6
  font-weight 400

.light-on-dark
  color white
  text-shadow 0 0 6px hsla(0, 0%, 0%, 0.66)

.language-selector
  position absolute
  top 1em
  right 1em
  background rgba(0, 0, 0, .4)
  padding .5em 1.2em
  border-radius 14em
  font-size .8em

  @media mobileMaxWidthQuery
    font-size 1em
    top 12px
    right 12px

  .selector-label
    display inline-block

    .fa-globe
      margin-right .25em

    .chosen-language
      margin-right .5em

  .dropdown
    display none

  &[data-dropdown="visible"] .dropdown
    display block

section[data-section]
  position relative

  .collapsed-top-margin
    margin-top 0

  .collapsed-bottom-margin
    margin-bottom 0

[role="button"], .button
  cursor pointer

.inline-button
  display inline-block
  appearance none
  background none
  border none
  padding 0
  cursor pointer
  font-family inherit
  font-size inherit

.button
  --border-size 2px
  position relative
  -webkit-tap-highlight-color transparent
  user-select none
  appearance none
  display inline-block
  cursor pointer
  text-align center
  text-decoration none
  font inherit
  color inherit
  padding .5em 1.25em
  box-shadow inset 0 0 0 var(--border-size) var(--border-color)
  border 0
  margin 0
  border-radius 999em

.button.hero-button
  --border-size 3px
  padding .6em 1.5em .65em

.button.hero-primary, .button.hero-secondary

  &:focus::after
    opacity 0

.button.hero-primary
  background #fff
  color #000

.button.hero-secondary
  background transparent
  --border-color #fff

.button:hover
  box-shadow inset 0 0 0 var(--border-size) var(--border-color), inset 0 0 0 999em rgba(255, 255, 255, .2)

.button:focus
  --border-color var(--brand-accent-orange)
  outline none

.button:focus::after
  content ""
  position absolute
  z-index 1
  top calc(-1 * var(--border-size) * 2)
  right calc(-1 * var(--border-size) * 2)
  bottom calc(-1 * var(--border-size) * 2)
  left calc(-1 * var(--border-size) * 2)
  border-radius 999em
  box-shadow inset 0 0 0 calc(var(--border-size) * 2) var(--border-color)
  pointer-events none
  opacity .5

.button:focus:active::after
  opacity 0

.button:hover:active
  box-shadow inset 0 0 0 999em rgba(0, 0, 0, .1)

.message

  &.center
    text-align center

    .message-content
      display inline-block

.message-content
  border-radius 3px
  background rgba(0, 0, 0, .6)
  color white
  padding 1rem 1.5rem
  font-size .8em
  line-height 1.6

p.collapsed-margins
  margin 0

ul, ol
  @media mobileMaxWidthQuery
    margin-left 0
    padding-left 1em

  > li + li
    margin-top .5em

  li > ul, li > ol
    margin-top .5em

@import hero
@import explanation
@import setup
@import faq
@import share
