@import "mixins/media-query-variables"

section[data-section="explanation"],
section[data-section="explanation-privacy"],
section[data-section="explanation-stats"]
  display flex
  justify-content center
  flex-flow column
  padding calc(var(--section-vertical-padding) / 2) 1em

  .content
    width 100rem
    max-width 100%
    margin 0 auto
    display flex

    & + .content.with-gutter
      @media desktopMinWidthQuery
        margin-top var(--section-vertical-padding)

section[data-section="explanation"]
  color black
  background-color #fff


section[data-section="explanation-privacy"]
  background-color #f4f8fb
  color black
  flex-flow column

  .with-icon
    position relative

    .accent-icon
      font-size 1.6rem
      color #8a78b6
      position absolute
      left -2.5rem
      top 0.65rem

section[data-section="explanation-stats"]
  background-color #000
  color white

