section[data-section="faq"]
  // background-color #fff
  color #000
  display flex
  justify-content center
  flex-flow column
  padding calc(var(--section-vertical-padding) / 2) 30px

  .content
    width 70rem
    max-width 100%
    margin 0 auto

  // @media mobileMaxWidthQuery
  //   font-size 1.1em
  //   line-height 1.6
  //   padding calc(var(--section-vertical-padding) / 2) 1em

