section[data-section="hero"]
  display flex
  justify-content center
  align-items center
  flex-flow column
  font-family var(--hero-fonts)
  font-weight 300
  color white
  -webkit-font-smoothing antialiased
  min-height calc(100vh - 5rem)
  padding var(--section-vertical-padding) 1em
  text-align center
  background #eee
  z-index 1

  .hero-background
    position absolute
    left 0
    top 0
    right 0
    bottom 0
    z-index -1

  .hero-copy > svg
    height 8rem
    fill white

  h1
    font-size 4em

  h2
    font-size 2.5em
    margin-bottom .5em

  h3
    margin-top .5em

.slideshow
  height 100%
  width 100%
  position relative

  .background-slide
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease;
    opacity: 0;
    background-size: cover;
    background-position: center center;

    &::after
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: .5;

    &[data-slide="1"]
      background-image url('~media/peace/1.jpg')

    &[data-slide="2"]
      background-image url('~media/peace/2.jpg')

    &[data-slide="3"]
      background-image url('~media/peace/3.jpg')

    &[data-slide="4"]
      background-image url('~media/peace/4.jpg')

    &[data-slide="5"]
      background-image url('~media/peace/5.jpg')

  & > .background-slide:nth-child(1)::after
    background var(--brand-accent-orange)

  & > .background-slide:nth-child(2)::after
    background var(--brand-accent-red)

  & > .background-slide:nth-child(3)::after
    background var(--brand-accent-green)

  & > .background-slide:nth-child(4)::after
    background var(--brand-accent-blue)

  & > .background-slide:nth-child(5)::after
    background var(--brand-accent-purple1)

  &[data-active-slide="1"] > .background-slide:nth-child(1),
  &[data-active-slide="2"] > .background-slide:nth-child(2),
  &[data-active-slide="3"] > .background-slide:nth-child(3),
  &[data-active-slide="4"] > .background-slide:nth-child(4),
  &[data-active-slide="5"] > .background-slide:nth-child(5)
    opacity 1

  &[data-active-slide="1"] > .background-slide:not(:nth-child(5)):not(:nth-child(1)):not(:nth-child(2)),
  &[data-active-slide="2"] > .background-slide:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(3)),
  &[data-active-slide="3"] > .background-slide:not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)),
  &[data-active-slide="4"] > .background-slide:not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)),
  &[data-active-slide="5"] > .background-slide:not(:nth-child(4)):not(:nth-child(5)):not(:nth-child(1))
    background-image none !important

section[data-section="hero-continued"]
  display flex
  justify-content center
  align-items center
  flex-flow column
  font-family var(--hero-fonts)
  font-weight 300
  -webkit-font-smoothing antialiased
  min-height calc(100vh - 5rem)
  padding var(--section-vertical-padding) 12px
  text-align center
  background #fefefe


  .logo
    display flex
    justify-content center
    > svg
      fill black
      height 5rem

  h2
    font-size 2.8rem
    font-weight 500
