section(data-section="hero")
  .language-selector(role="button" data-ref="languageSelector")
    .selector-label
      i.fas.fa-globe
      span.chosen-language English
      i.fas.fa-caret-down

    .dropdown
      span.language(data-locale='en-US') English
      span.language(data-locale='es') Español
      span.language(data-locale='fr') Français
      span.language(data-locale='de') Deutsch
      span.language(data-locale='zh-Hans') 简体中文
      span.language(data-locale='zh-Hant') 中國傳統的
      span.language(data-locale='ja-jp') 日本語

  .hero-background
    .slideshow.desktop-only(data-ref="slideshow" data-active-slide="1")
      .background-slide(data-slide="1")
      .background-slide(data-slide="2")
      .background-slide(data-slide="3")
      .background-slide(data-slide="4")

    .slideshow.mobile-only.static-slide
      .background-slide(data-slide="2")

  h3 Introducing

  h1.hero-copy(alt="1.1.1.1 DNS resolver")
    include ../../media/logo.svg

  h2 You’re 2 minutes away from browsing a faster, more private internet.

  .actions
    a.button.secondary.inverted(role="button" data-scroll href="#setup-instructions")
      .button-content Get Started
    .spacer.mobile-only
    a.button.secondary.inverted(role="button" data-scroll href="#explanation")
      .button-content Info
