section(data-section="share")
  .accent-background

  h1.light-on-dark #1dot1dot1dot1
  h2.light-on-dark Fast, safe, and secure internet is here.

  .share-buttons
    a.share-button(href="" target="_blank")
      i.fab.fa-twitter

    a.share-button(href="" target="_blank")
      i.fab.fa-facebook

    a.share-button(href="mailto:?subject%3DFaster%20and%20safer%20internet%20in%205%20minutes%2C%20Cloudflare's%201.1.1.1&body%3DCheck%20it%20out!%20https%3A%2F%2F1.1.1.1" target="_blank")
      i.fas.fa-envelope

